In [ ]:
#Two primitive loops 
1. While 
2. For

In [ ]:
if i<10:

In [ ]:
#While: Perform or execute a set of commands until the condition you specify is true 
#why loop? - runs in a coiled until the condition is true 
#: to depict the start of any block! 
i = 0
while i <10:
  print("Inside this tab space indendation")
  print(i)
  i=i+1
print("This is outside the Identation limit of while")

#IndentationError: expected an indented block

Inside this tab space indendation
0
Inside this tab space indendation
1
Inside this tab space indendation
2
Inside this tab space indendation
3
Inside this tab space indendation
4
Inside this tab space indendation
5
Inside this tab space indendation
6
Inside this tab space indendation
7
Inside this tab space indendation
8
Inside this tab space indendation
9
This is outside the Identation limit of while

In [ ]:
#break 
i  = 0
while i <10:
  print(i)
  i = i+1
else: 
  print("The condition no longer satisfies")

0
1
2
3
4
5
6
7
8
9
The condition no longer satisfies

In [ ]:
A = [0,1,2,3,4,5,6,7,8,9]
#return a list B that adds 1 to each element of the list A using while loop! 
B = []
i = 0
while i < len(A):
  B.append(A[i]+1)
  i=i+1
print(B)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
1. Write a program to find the numbers that are divisible by 7 and is a multiple of 5, 
Between the range 1500 and 2700 (both included)

O/p: 1505, 1540,1575.............................2660,2695

In [ ]:
#% - Remaineder Modulo
#// - Quotient without decimal place
#/ - Quoitient with decimal point

4%3

1

In [ ]:
20//3

6

In [ ]:
20/3

6.666666666666667

In [ ]:
20%3

2

In [ ]:
i = 1500
while i<=2700:
  if(i%7==0) and (i%5==0):
    print(i)
  i = i+1

In [ ]:
#For Loop! Iterable 
#for - Keyword
class_ = [14,15,16]
for i in class_: 
  print(i)

14
15
16

In [ ]:
list(range(0,10,5))

[0, 5]

In [ ]:
#running through index and then accessing the values
class_ = [14,15,16]
for i in range(0,len(class_)): 
  print(class_[i])

In [ ]:
for i in "Inceptez":
  print(i)

In [ ]:
i = 1
while i in range(0,10):
  print("number is:",i)
  i = i+1

number is: 1
number is: 2
number is: 3
number is: 4
number is: 5
number is: 6
number is: 7
number is: 8
number is: 9

In [ ]:
3. Write a program to construct the following pattern, using a 'for' loop:
n=5





*
* *
* * * 
* * * * 
* * * * *
* * * *
* * *
* *
*

In [ ]:
n = 5
for i in range(n,0,-1):
  #print(i)
  for j in range(i):
    print("* ",end ="")
  print('')

5
* * * * *
4
* * * *
3
* * *
2
* *
1
*

In [ ]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
##Functions!
#Reusable block of code! 
def function_name():
  return 

#Function Defenition
def sample_funct():
  print("Hello Inceptez")

In [ ]:
#The function call
sample_funct()

Hello Inceptez

In [ ]:
def sample_function():
  '''this function prints the name of this function'''
  print("sample_function")

In [ ]:
sample_function?

In [ ]:
def sum(a,b):
  '''This is a function that sums up two numbers 
  a - number one (INT)
  b - number two (INT)
  
  Example:
  a = 2
  b = 3
  Sum = sum(a,b)
  '''
  return a+b #hey function please return this to the function call

In [ ]:
def sum_(a,b):
  '''This is a function that sums up two numbers 
  a - number one (INT)
  b - number two (INT)
  
  Example:
  a = 2
  b = 3
  Sum = sum(a,b)

  I am adding details
  '''
  print(a+b) #hey function please return this to the function call

In [ ]:
s_ = sum(1,2)
s_a = sum_(1,2)

3

In [ ]:
sum?

In [ ]:
#Accessing the doicstring of the function
1. Shift - tab
2. sum.__doc__
3. sum?

In [ ]:
sum_?

In [ ]:
print(sum.__doc__)

This is a function that sums up two numbers
  a - number one (INT)
  b - number two (INT)

  Example:
  a = 2
  b = 3
  Sum = sum(a,b)

In [ ]:
#4. Write a function that takes in list as input and returns the sum of the list as o/p
def sum_(a,b):
  return a+b
def fun_sum(A):
  sum = 0
  for i in A:
    sum= sum_(sum,i)
  return sum

In [ ]:
def sum_list(A):
  res = 0
  for i in A: 
    res = res+i
  return res

In [ ]:
sum_list([1,2,3,4,5])

15

In [ ]:
a = 0
for i in list_notdefined:
  a = a+i
print(a)

'''
before loop1: sum = 0 
loop1: sum+i = 0+1, sum = 1
loop2: sum+i = 1+2, sum = 3
loop3: sum+i = 3+3, sum = 6
loop4: sum = 10
loop5: sum = 10+5 = 15
'''
#1*2*3*4*5

NameError: ignored

In [ ]:
#Recursion - if a function calls itself again and again that particular function 
#is called as a recursive function

4! - 4*3*2*1
10! - 10*9*8*.....1

In [ ]:
n = 5
#5. write a program Find the factorial of a number using for loop 
res = 1 #Temporary varible
if n == 0 or n==1:
  res =1
else:
  for i in range(n,0,-1):
    res = res*i
  print(res)

120

In [ ]:
list(range(0,20,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
list(range(20,0,-1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
5*4!
5*4*3!

In [ ]:
n = 5
def fact(n):
  if(n==0):
    return 1
  else:
    return n*fact(n-1)

In [ ]:
fact(n)

120

In [ ]:
def fact(4):
  '''
  '''
  if(n==0):
    return 1
  else:
    return

In [ ]:
import math
math.sqrt?

In [ ]:
fact?

In [ ]:
n=5
for i in range(n,0,-1):
  #print(i)
  for j in range(i):
    print("* ",end="")
  print('')â€©

* * * * *
* * * *
* * *
* *
*